[MAIN]
ignore=.venv,myenv,venv,env,__pycache__

[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    consider-iterating-dictionary,
    duplicate-code,
    import-error,
    invalid-name,
    line-too-long,
    missing-function-docstring,
    non-ascii-name,
    superfluous-parens,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-positional-arguments,
    too-many-return-statements,
    too-many-statements,
    use-dict-literal

